<!doctype html>
<html lang="en" ng-app="PairWithMe">
 <head>
   <meta charset="utf-8">
   <title>Pair with me</title>
   <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
   <script src="bower_components/jquery/dist/jquery.js"></script>
   <script src="bower_components/angular/angular.js"></script>
   <script src="bower_components/angular-resource/angular-resource.js"></script>
   <script src="js/app.js"></script>
   <script src="js/pairController.js"></script>
 </head>
 <h1> Pair With Me </h1>

 <body ng-controller="PairWithMeCtrl as pairCtrl">
   <form action ="">
      <ul ng-repeat="maker in pairCtrl.cohort">
         <li><input type="radio" ng-click="pairCtrl.setYourself(maker.number)" name="yourself" value={{maker.name}}>
             {{maker.name}}
             <button type="button" ng-if="pairCtrl.isButtonDisplayed(maker.number)" ng-click="pairCtrl.pairWith(maker.number)">Pair with this person</button>
         </li>
      </ul>
   </form>
   <button type="button" ng-click="pairCtrl.shyPairWith()">Shy/Random Pair</button>
 </body>
</html>